<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="basepage::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>SignUp Title</title>
</head>

<body>
	<section>

		<div class="container">

			<div class="row">

				<div class="col-md-8 offset-md-2">

					<div class="my-card mt-3">

						<h1 class="text-center">Registration Page</h1>

						<form action="" th:action="@{/do_register}" method="post">

							<!-- name field -->

							<div class="form-group">
								<label for="name_field">Your Name</label> <input type="text"
									class="form-control" id="name-field"
									aria-describedby="emailHelp" placeholder="Enter here" required>
							</div>

							<!-- email field -->

							<div class="form-group">
								<label for="email_field">Your Email</label> <input type="email"
									class="form-control" id="email-field"
									aria-describedby="emailHelp" placeholder="Enter here" required>

							</div>

							<!-- password field -->

							<div class="form-group">
								<label for="password_field">Your Password</label> <input
									type="password" class="form-control" id="password-field"
									aria-describedby="emailHelp" placeholder="Enter here" required>

							</div>

							<!-- about field -->

							<div class="form-group">
								<textarea placeholder="Enter Something about yourself" rows="10"
									class="form-control"></textarea>

							</div>
							
							<!-- check box for terms and condition -->
							<div class="form-group form-check text-center">
							<input type="checkbox" 
							name="agreement"
							class="form-check-input"
							id="agreement"
							/>
							<label for="agreement">Accept terms and conditions</label>
							
							</div>
							
							
							
							

							<div class="container text-center">
								<button type="submit" class="btn bg-primary text-white">
									Submit</button>
								<button type="reset" class="btn btn-warning">Reset</button>


							</div>


						</form>

					</div>

				</div>

			</div>


		</div>





	</section>
</body>
</html>